
p {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.container {
    width: 80vw;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    box-shadow: 2px 2px 2px #888888;
    width: 490px;
    max-width: 80vw;
    height: 331px;
    max-height: 35vh;
    margin: 1rem 0;
    border: 2px solid #d4d4d4;
    display: flex;
    justify-content: space-between;
    transition: 0.3s;
    overflow: hidden;
}

.card:hover {
    transition: 1s;
    box-shadow: 1px 1px 1px #b0b0b0;
}

.title {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}


.title:hover {
    text-decoration: none;
}

.title a {
    padding: 12px 0;
}

.italic {
    font-style: italic;
    color: rgb(97, 97, 97);
}



hr {
    margin: 0 0 5px 0;
    padding: 0;
}


.card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    color: rgb(0, 0, 0);
    opacity: 0.7;
    transition: 0.3s;
    position: static;
}

.img {
    height: 200px;
    background-color: rgb(241, 241, 241);
}

.img:hover {
    background-color: none;
}


.card img:hover {
    transition: 0.6s;
    opacity: 1.0;
}

