.title {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

p {
    margin: 0 0;
    padding: 0;
}

img {
    padding: 0;
    margin: 0;
    max-width: 60vw;
    max-height: 40vh;
    border: 1px solid black;
}

.img-container {
    display: flex;
    justify-content: center;
}

.description, .bid_status, .created_by {
    text-align: center;
}

.bid_status, .description {
    margin: 2px 0;

}

.description {
}

.button-container {
    background-color: beige;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    max-width: 60vw;
    min-width: 480px;
}

.alert {
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
}

.button {
    margin: 0 3%;
}

#bid-button, #close-button {
    width: auto;
}

.category {
    font-weight: 400;
    font-size: 14px;
    color: rgb(174, 174, 174);
}