body {
    margin: 0;
    padding: 10px;
}


.nav-link {
}

.container {
    background-color: rgb(86, 206, 75);
    font-family: sans-serif;
}
p {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.card {
    border-radius: 5px;
    max-width: 500px;
    min-width: 350px;
}
.id {
    color: #a5a5a5;
    font-size: 12px;
}

.title {
    padding: 3px 4px;
    text-transform: capitalize;
    font-size: 24px;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
    color: rgb(97, 97, 97);
}

.large {
    border: 2px solid black;
}

hr {
    margin: 0 0 5px 0;
    padding: 0;
}