body {
    margin: 0;
    padding: 10px;
}


.nav-link {
}

p {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.container {
    /* background-color: rgb(75, 165, 206); */
    width: 80vw;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    box-shadow: 5px 5px 3px #5c5c5c;
    width: 490px;
    min-width: 490px;
    height: 331px;
    max-height: 331px;
    margin: 1rem 0;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.id, .created_by {
    color: #a5a5a5;
    font-size: 12px;
    padding-left: 5px;
}

.title {
    margin: 0;
    padding: 8px 0;
    text-transform: capitalize;
    font-size: 24px;
}

.title:hover {
    text-decoration: none;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
    color: rgb(97, 97, 97);
}

.large {
    border: 2px solid black;
}

hr {
    margin: 0 0 5px 0;
    padding: 0;
}


.card img, .img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    color: white;
    opacity: 0.7;
    transition: 0.3s;
}

.img {
    /* background-color: gray; */
    opacity: 1.0;
}

.card img:hover {
    transition: 0.6s;
    opacity: 1.0;
}

