body {
    margin: 0;
    padding: 10px;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: center;
}

.container {
    /* background-color: rgb(226, 226, 226); */
}

.id, .created_by {
    color: #a5a5a5;
    font-size: 12px;
    padding-left: 5px;
    text-transform: none;
}

.bold {
    font-weight: 700;
}

.large {
    font-size: 24px;
}

.page-title {
    text-align: center;
}

.button {
    width: 198px;
    height: 38px;
}

#nav-hr {
    margin: 0 0 5px;
}