{% extends 'auctions/layout.html' %}

{% block body %}

{{ categories }}

{% for category in categories %}
    <p>
        {% comment %} <h3>{{ category }} {{ category["amount"] }}</h3> {% endcomment %}
    </p>
{% endfor %} 


<h3>Categories</h1>

{% for category, data in categories.items %}
<p>
    <h4>{{ category }} ({{ data.amount }})</h3>
    <ul>
        {% for auction in data.auctions %}
        <li><a href="{% url 'auctions:listing' auction.id %}">{{ auction }}</a></li>
        {% endfor %}
    </ul>
</p>
{% endfor %}

{% endblock body %}