{% extends "auctions/layout.html" %}
{% load static %}

{% block head %}
    <link href="{% static 'auctions/index.css' %}" rel="stylesheet">
{% endblock head %}


{% block body %}
<h2 class="page-title">{{ type }}</h2>
{% if not auctions %}
<p>{{ empty_message }}</p>
{% else %}
<div class="container">
    {% for auction in auctions %}
        <div class="card" >
            <div class="content">
                <p><span class="title bold"><a href="{% url "auctions:listing" auction.id %}">{{ auction.title }}</a><span class="created_by">by {{ auction.created_by }}</span></span><span class="id">#{{ auction.id }}</span></p>
                <hr class="large">
                <p>{{ auction.bid_status }}</p>
                <p class="italic">"{{ auction.short_desc }}"</p> 
            </div>
            <a href="{% url "auctions:listing" auction.id %}">
                <div class="img">
                    <img src="{{ auction.image_url }}" alt="<Item image>" draggable="false">
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
{% endif %}
    
{% endblock %}
