{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Listings</h2>

{% if not auctions %}
<p>{{ empty_message }}</p>
{% else %}
<div class="container">
    {% for auction in auctions %}
        <div class="card" >
            <div class="content">
                <p><span><a class="title bold" href="{% url "auctions:listing" auction.id %}">{{ auction.title }}</a><span class="created_by">by {{ auction.created_by }}</span></span><span class="id">#{{ auction.id }}</span></p>
                <hr class="large">
                
                {% if auction.is_active %}
                    {% if auction.current_bid %}
                        <p>Current bid: {{ auction.current_bid.amount }}$ by {{ auction.current_bid.bidder }}</p>
                    {% else %}
                        <p>Starting bid: {{ auction.starting_bid }}$</p>
                    {% endif %}
                {% else %}
                    {% if auction.winner %}
                    <p>Auction was won by {{ auction.winner }} for {{ auction.current_bid }}</p>
                    {% else %}
                    <p>Unfortunately, nobody has won the auction :[</p>
                    {% endif %}
                {% endif %}
                
                <p class="italic">"{{ auction.description }}"</p> 
            </div>
            <a href="{% url "auctions:listing" auction.id %}">
                <div class="img">
                    <img src="{{ auction.image_url }}" alt="<Item image>" draggable="false">
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

{% endif %}
    
{% endblock %}